name: ci

on:
  push:
  pull_request:
  schedule:
    - cron: "0 * * * *"

jobs:
  stable:
    name: Deno ${{ matrix.deno }} in ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        deno: ["v0.20.0", "v0.38.0", "v0.x", "v1.x", "nightly"]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install dependencies
        run: npm install

      - name: Check
        run: npm run check

      - name: Build
        run: npm run build

      - name: Checksum
        run: npm run checksum

      - name: Set up Deno ${{ matrix.deno }}
        uses: ./
        with:
          deno-version: ${{ matrix.deno }}

      - name: Run deno
        run: |
          deno --version
          deno run https://deno.land/std/examples/welcome.ts

      - name: Run deno installed cli
        if: matrix.deno == 'v1.x' || matrix.deno == 'nightly'
        run: |
          deno install --allow-read -n deno_cat https://deno.land/std/examples/cat.ts
          deno_cat ./README.md

